<div class="chat">
  <div class="chat-window">
    <%
      room.messages.each do |message|
        %>
          <%= show_message(message) %>
        <%
      end
    %>
  </div>
  <aside class="users-list">
    <%
      room.sessions.each do |session|
        %>
          <a><%= session.nick %></a>
        <%
      end
    %>
  </aside>
  <div class="chat-bar">
    <%= simple_form_for(message, url: chat_room_messages_path(room.key)) do |f| %>
      <%= f.hidden_field :action, value: :say %>
      <%= f.text_field :text, :maxlength => 40, :size => 50 %>
      <%= f.submit 'Enviar' %>
    <% end %>
  </div>
</div>
